<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
   <div class="container-fluid">
      <a href="#" class="navbar-brand">Brand</a>
      <button
         type="button"
         class="navbar-toggler"
         data-bs-toggle="collapse"
         data-bs-target="#navbarCollapse"
      >
         <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarCollapse" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li class="nav-item">
               <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
               <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Time</a
               >
               <div class="dropdown-menu bg-dark border-0">
                  <a href="/time/calendar" class="dropdown-item text-light"
                     >Calendar</a
                  >
                  <a href="/time/todo" class="dropdown-item text-light"
                     >Todo list</a
                  >
                  <a href="/time/reminder" class="dropdown-item text-light"
                     >Reminders</a
                  >
               </div>
            </li>
            <li class="nav-item dropdown">
               <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Money</a
               >
               <div class="dropdown-menu bg-dark border-0">
                  <a href="/money/budget" class="dropdown-item text-light"
                     >Budget</a
                  >
                  <a
                     href="/money/money-documents"
                     class="dropdown-item text-light"
                     >Tax Documents and Receipts</a
                  >
                  <a href="/money/goals" class="dropdown-item text-light"
                     >Financial Goals</a
                  >
               </div>
            </li>
            <li class="nav-item dropdown">
               <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Food</a
               >
               <div class="dropdown-menu bg-dark border-0">
                  <a href="/things/mealplan" class="dropdown-item text-light"
                     >Meal plan</a
                  >
                  <a
                     href="/things/grocery-list"
                     class="dropdown-item text-light"
                     >Grocery List</a
                  >
                  <a href="/things/recipies" class="dropdown-item text-light"
                     >Recipies and Favorites</a
                  >
               </div>
            </li>
            <li class="nav-item dropdown">
               <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Things</a
               >
               <div class="dropdown-menu bg-dark border-0">
                  <a href="/things/property" class="dropdown-item text-light"
                     >Property</a
                  >
                  <a href="/things/vehicle" class="dropdown-item text-light"
                     >Vehicle</a
                  >
                  <a href="/things/reminder" class="dropdown-item text-light"
                     >Reminders</a
                  >
               </div>
            </li>
            <li class="nav-item dropdown">
               <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Things</a
               >
               <div class="dropdown-menu bg-dark border-0">
                  <a href="/things/property" class="dropdown-item text-light"
                     >Property</a
                  >
                  <a href="/things/vehicle" class="dropdown-item text-light"
                     >Vehicle</a
                  >
                  <a href="/things/reminder" class="dropdown-item text-light"
                     >Reminders</a
                  >
               </div>
            </li>
            <li class="nav-item dropdown">
               <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >People</a
               >
               <div class="dropdown-menu bg-dark border-0">
                  <a href="/people/birthays" class="dropdown-item text-light"
                     >Birthdays</a
                  >
                  <!-- What about anniversaries? -->
                  <a href="/people/contacts" class="dropdown-item text-light"
                     >Contacts</a
                  >
               </div>
            </li>
         </ul>
      </div>
   </div>
</nav>
