<a href="/">Home</a>
<ul>
   <li>
      <a href="/time">Time</a>
      <ul>
         <li>
            <a href="/time/calendar">Calendar</a>
         </li>
         <li>
            <a href="/time/todo">Todo list</a>
         </li>
         <li>
            <a href="/time/reminder">Reminders</a>
         </li>
      </ul>
   </li>
      <a href="/money">Money</a>
      <ul>
         <li>
            <a href="/money/budget">Budget</a>
         </li>
         <li>
            <a href="/money/money-documents">Tax Documents and Receipts</a>
         </li>
         <li>
            <a href="/money/goals">Financial Goals</a>
         </li>
      </ul>
   <li>
      <a href="/food">Food</a>
      <ul>
         <li>
            <a href="/things/mealplan">Mealplan</a>
         </li>
         <li>
            <a href="/things/grocery-list">Groceries List</a>
         </li>
         <li>
            <a href="/things/recipies">Our Recipies and Favorites</a>
         </li>
      </ul>
   </li>
   <li>
      <a href="/things">Things</a>
      <ul>
         <li>
            <a href="/things/property">Property</a>
         </li>
         <li>
            <a href="/things/vehicle">Vehicle</a>
         </li>
         <li>
            <a href="/things/reminder">Reminders</a>
         </li>
      </ul>
   </li>
   <li>
      <a href="/people">People</a>
      <ul>
         <li>
            <a href="/people/birthays">Birthdays</a>
         </li>
         <li>
            <a href="/people/contacts">Contacts</a>
         </li>
      </ul>
   </li> 
</ul>