<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Grocery list</h1>
    <p>Add items to grocery list and then use walmart api to add to cart <br> Add option to add items to grocery list from meal plan.</p>

<%- include('../includes/end.ejs') %>