<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Food home</h1>
    <p>See meals for today and grocey list, print grocery list.</p>

<%- include('../includes/end.ejs') %>