<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Mealplan</h1>
    <p>Use Spoonacular to create mealplan and add recipies. <br>
    User should be able to add recipies from recipies collection.</p>

<%- include('../includes/end.ejs') %>