<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Recipies</h1>
    <p>Get Recipies from spoonacular, add to recipie library.</p>

<%- include('../includes/end.ejs') %>