<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Calendar Home</h1>
    <p>Use google calendar api to manage google calendar</p>

<%- include('../includes/end.ejs') %>